@page "/"


@inject IContactService ContactService


<h3>ContactList</h3>

<p>This page a list of all contacts.</p>

<a href="/contactdetails"><i>Add New Contact</i></a>

<p>@Message</p>

@if(contacts == null)
{
    <p><em>Loading...</em></p>
}else
{
    <table class="table">
        <thead>
           <th>First Name</th>  
           <th>Last Name</th>  
           <th>Phone</th>  
           <th>Address</th>
           <th></th>
           <th></th>
        </thead>

           <tbody>
               @foreach (var contact in contacts)
                {
                    <tr>
                        <td>@contact.FirstName</td>
                        <td>@contact.LastName</td>
                        <td>@contact.Phone</td>
                        <td>@contact.Address</td>
                    <td><a href="/contactdetails/@contact.Id"><i>Edit</i></a></td>
                    <td><a href="/contactdelete/@contact.Id"><i>Delete</i></a></td>
                    </tr>
                    
                }

           </tbody>
              




    </table>
}




@code {
    public List<Contact>? contacts;
    public string? Message{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            contacts = (List<Contact>)await ContactService.GetAll();
            
        }
        catch (Exception e)
        {
            Message = "Error..." + e.Message;

        }
    }


}
